:root {
  --background: #381460;
  --transparentbackground: rgba(56, 20, 96, 0.8);
  --primary: #b21f66;
  --secondary: #fe346e;
  --tertiary: #ffbd69;
  box-sizing: border-box;
  background-color: var(--background);
  color: white;
}

.App {
  margin-top: 0;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
}

a.visited {
  text-decoration: none;
  color: var(--background);
  font-size: 1rem;
}

.navbar {
  background-color: var(--primary);
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  /* transition: all 0.7s; */
}

.navbar img {
  margin: 0 0.75rem;
  height: 100%;
  display: inline-block;
}

.favorite-badge {
  background-color: var(--tertiary);
  color: var(--background);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  justify-self: flex-end;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Sidebar {
  background-color: var(--transparentbackground);
}

.sidebar-container {
  position: relative;
  padding: 10px;
  overflow: auto;
}

.sidebar-scrollable {
  height: 100%;
  overflow: scroll;
}
.Search {
  width: 100%;
  display: flex;
  height: 4rem;
}

.Search input {
  max-height: 100%;
  padding: 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1.5rem;
  flex-grow: 4;
  background-color: white;
  border: none;
}

.Search button {
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--tertiary);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  color: var(--background);
}

.CurrentTopics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

.CurrentTopic {
  background-color: var(--primary);
  width: auto;
  border-radius: 25px;
  padding: 5px 5px 5px 15px;
  margin: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.current-topic-close {
  margin-left: 5px;
}

.FavoritePreview {
  background-color: white;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  color: var(--primary);
  display: flex;
}
.favorite-preview-image {
  width: 20vw;
  height: 20vw;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}
.favorite-close {
  position: relative;
  right: 0;
  top: 0;
  font-size: 1.5rem;
}
.CardCatalog {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  margin: 5rem 10vw 0 10vw;
}

.Card {
  height: auto;
  max-width: 100%;
  position: relative;
  border-radius: 5px;
  border: 1px solid var(--background);
  padding: 1rem;
  box-shadow: 1px 1px 5px var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  background-color: white;
  color: var(--secondary);
}

.ReloadedMessage {
  border-radius: 5px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  text-align: center;
  overflow: hidden;
  background-color: rgba(254, 52, 110, 0.2) !important;
}

.FavoriteStar {
  position: absolute;
  font-size: 2rem;
  top: 25px;
  right: 25px;
  color: var(--tertiary);
}

.Footer {
  display: flex;
  align-items: center;
  height: 3rem;
}

.Footer p {
  width: 100%;
  text-align: center;
}

.loading-spinner {
  color: var(--background);
}

/* @media (min-width: 768px) {
  .Card {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .Card {
    width: 90%;
  }
} */
